.row
  .col-md-8
    -if @templates.count == 1
      %h2= t 'template'
    -else
      %h2= t 'templates'
    %table.table
      %tr.info
        %th= t 'name'
        %th
        %th= t 'fields'
        %th
        %th
      =render :partial => "template", :collection => @templates
      =render :partial => "form_template"
  .col-md-4.well
    %h2= t 'categories'
    %ul.nav.nav-list
      =render :partial => "category", :collection => @category.children

-if admin?
  .row
    .col-md-9
      %h3= t 'all_fields'
      %table.table
        %tr.danger
          %th= t 'name'
          %th= t 'about'
          %th= t 'used'
        =render :partial => "field", :collection => @fields
        =render :partial => "form_field"


    .col-md-3.well
      %h3#file= t 'Uploads'
      %p#file_status
        &nbsp;
      = form_for :documents, :url => documents_path do |f|
        .form-group
          = f.text_field :name, :class => 'form-control change'
        .form-group
          = f.select(:category, @categories, {},{:class => 'form-control change'})
      #fileupload.upload
        %p=t 'drag_drop'
      .progress#progress

