.row
  .col-md-12
    -if @templates.count == 1
      %h2= t 'template'
    -else
      %h2= t 'templates'
    %table.table
      %tr.info
        %th= t 'name'
        %th
        %th= t 'fields'
        %th
        %th
      =render :partial => "template", :collection => @templates
      =render :partial => "form_template"


-if admin?
  %hr
  .row
    .col-md-4
      .well

        %h3=t 'add_category'
        =render :partial => 'add_category'

      .well
        %h3#file= t 'uploads'
        %p#file_status
          &nbsp;
        = form_for :documents, :url => documents_path do |f|
          .form-group
            = f.text_field :name, :class => 'form-control change', :placeholder => t('name')
          .form-group
            = f.select(:category, @categories, {},{:class => 'form-control change'})
        #fileupload.upload
          %p=t 'drag_drop'
        .progress#progress


    .col-md-8
      %h3= t 'all_fields'
      %table.table
        %tr.danger
          %th= t 'name'
          %th= t 'code'
          %th
        =render :partial => "field", :collection => @fields
        =render :partial => "form_field"
    




