%h1 Listing users

%table.table
  %tr
    %th Email
    %th Sign in count
    %th 
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.sign_in_count
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
