%p#notice= notice

.row
  .col-md-8
    %h1
      =@document.name
      %small
        \/
        =@document.category.name

    -if admin?
      .alert.alert-danger{role: "alert"}
        =link_to document_path(@document.id), :data => {:confirm => t('are_you_sure', :default => 'Are you sure?')}, :method => :delete do
          %i.glyphicon.glyphicon-trash 

    %ul.nav.nav-pills
      -@templates.each do |t|
        %li
          = link_to dashboard_path + "/generate/#{@document.id}/#{t.id}" do
            =t.name 
            %i.glyphicon.glyphicon-download

    %hr
    %iframe{frameborder: "0", src: "http://docs.google.com/gview?url=http://#{request.host}/preview/#{@document.path}.pdf&embedded=true", style: "width:100%; height:500px;"}


  .col-md-4.well
    %h2= t 'categories'
    %ul.nav.nav-list
      =render :partial => "dashboard/category", :collection => @category.children
