%p#notice= notice

.row
  .col-md-12
    %h1
      =@document.name
      %small
        \/
        =@document.category.name

    %ul.nav.nav-pills
      -@templates.each do |t|
        %li
          = link_to dashboard_path + "/generate/#{@document.id}/#{t.id}" do
            =t.name 
            %i.glyphicon.glyphicon-download

.row
  .col-md-4.well
    %h2= t 'categories'
    %ul.nav.nav-list
      =render :partial => "dashboard/category", :collection => @category.children
  .col-md-8 
    %iframe#google-iframe{frameborder: "0", src: "http://docs.google.com/gview?url=http://#{request.host}/preview/#{@document.path}.pdf&embedded=true"}

