.row
  .col-md-12
    %h1
      =@category.name
      %small
        =t('count')
        \–
        =@documents.count

    //%ul.nav.nav-pills
    //-@templates.each do |t|
    //%li
    //= link_to dashboard_path + "/generate/#{@document.id}/#{t.id}" do
    //=t.name 
    //%i.glyphicon.glyphicon-download

.row
  .col-md-4.well
    %h2= t 'categories'
    %ul.nav.nav-list
      =render :partial => "dashboard/category", :collection => @root_cat.children
  //%iframe#google-iframe{frameborder: "0", src: "http://docs.google.com/gview?url=http://#{request.host}/preview/#{@document.path}.pdf&embedded=true"}
  .col-md-8
    %table.table.table-hover
      %tr
        %th=t('name')
        %th{:width=>'20px'}
        %th{:width=>'20px'}
        %th{:width=>'20px'}

      - @documents.each do |document|
        %tr
          %td= document.name
          %td
            = link_to "http://#{request.host}/preview/#{document.path}.pdf", :class => "openBtn", :alt=> t('view', :default=>"View") do
              %span.glyphicon.glyphicon-list-alt{:id=>"view_#{document.id}"}
          %td
            = link_to edit_document_path(document), :alt=>t('edit') do
              %span.glyphicon.glyphicon-pencil
          %td
            = link_to document, :method => :delete, :data => { :confirm => 'Are you sure?' }, :alt=>t('destroy') do
              %span.glyphicon.glyphicon-trash

=render :partial => "dashboard/modal"